<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerMapper">

    <resultMap id="Customer_Map" type="org.qydata.entity.Customer">
        <result column="id" property="id"/>
        <result column="typeId" property="typeId"/>
        <result column="authId" property="authId"/>
        <result column="authPass" property="authPass"/>
        <result column="balance" property="balance"/>
        <result column="createTime" property="createTime"/>
        <result column="status" property="status"/>
        <result column="companyId" property="companyId"/>
        <result column="floor" property="floor"/>
        <result column="usableFloor" property="usableFloor"/>
    </resultMap>

    <resultMap id="Customer_Type_Map" type="org.qydata.entity.Customer" extends="Customer_Map">
        <association property="customerType" javaType="org.qydata.entity.CustomerType">
            <result column="typeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Map">
        <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
            <result column="statusName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Map">
        <association property="customerCompany" javaType="org.qydata.entity.CustomerCompany">
            <result column="companyName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_User_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Company_Map">
        <association property="user" javaType="org.qydata.entity.User">
            <result column="userId" property="id"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_User_Ip_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Company_User_Map">
        <collection property="customerIpList" ofType="org.qydata.entity.CustomerIp">
            <result column="beginIpRaw" property="beginIpRaw"/>
            <result column="endIpRaw" property="endIpRaw"/>
        </collection>
    </resultMap>

    <resultMap id="CustomerBalanceLog_Map" type="org.qydata.entity.CustomerBalanceLog">
        <result column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="customerId" property="customerId"/>
        <result column="amount" property="amount"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <resultMap id="CustomerBalanceLog_CustomerBalanceModifyReason_Map" type="org.qydata.entity.CustomerBalanceLog" extends="CustomerBalanceLog_Map">
        <association property="customerBalanceModifyReason" javaType="org.qydata.entity.CustomerBalanceModifyReason">
            <result column="reasonName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="CustomerApiConsume_Map" type="org.qydata.dst.CustomerApiConsume">
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="totleAmount" property="totleAmount"/>
        <result column="feeAmount" property="feeAmount"/>
        <result column="mobileOperatorId" property="mobileOperatorId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="mobileOperatorName" property="mobileOperatorName"/>
    </resultMap>

    <resultMap id="CompanyApiTypeConsumeDayCount_Map" type="org.qydata.entity.CompanyApiTypeConsumeDayCount">
        <result column="id" property="id"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
        <result column="customerId" property="customerId"/>
        <result column="apiTypeId" property="stid"/>
        <result column="stid" property="stid"/>
        <result column="sumAmount" property="sumAmount"/>
        <result column="countTotle" property="countTotle"/>
        <result column="countSuccess" property="countSuccess"/>
        <result column="consuTime" property="consuTime"/>
    </resultMap>

    <resultMap id="CompanyApi_Map" type="org.qydata.entity.CompanyApi">
        <result column="id" property="id"/>
        <result column="companyId" property="companyId"/>
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="subTypeId" property="subTypeId"/>
    </resultMap>

    <resultMap id="CompanyApi_ApiType_Map" type="org.qydata.entity.CompanyApi" extends="CompanyApi_Map">
        <association property="apiType" javaType="org.qydata.entity.ApiType">
            <result column="apiTypeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="CompanyApi_ApiType_MobileOperator_Map" type="org.qydata.entity.CompanyApi" extends="CompanyApi_ApiType_Map">
        <association property="mobileOperator" javaType="org.qydata.entity.MobileOperator">
            <result column="subTypeName" property="name"/>
        </association>
    </resultMap>

    <!--根据用户Id查找账号-->
    <select id="queryCustomerByAuthId" parameterType="map" resultMap="Customer_Type_Status_Company_User_Ip_Map">
        SELECT a.id,a.typeId,a.typeName,a.authId,a.authPass,a.balance,a.createTime,a.status,
        a.statusName,a.companyId,a.companyName,a.userId,a.floor,(-a.floor+a.balance) usableFloor,
        b.beginIpRaw,b.endIpRaw
        FROM qycauth.cbkvwCustomer a
        LEFT JOIN qycauth.cbkvwCustomerIp b ON a.id=b.customerId
        WHERE a.userId=#{userId}
        <if test="content!=null and content!=''">
            and a.authId like '%${content}%'
        </if>
    </select>

    <!--根据authId查找客户信息用于验证账号-->
    <select id="findCustomerByAuthId" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param}
    </select>

    <!--根据用户名和密码查找账号用于验证密码-->
    <select id="findCustomerByAuthIdAndAuthPass" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param1} AND authPass=#{param2}
    </select>

    <!--添加账号和用户映射-->
    <insert id="addUserCustomer" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qycauth.UserCustomer(userId,customerId,createTime)
        VALUES(#{userId},#{customerId},sysdate())
    </insert>

    <!--根据用户Id查找公司Id用于财务页面产品类型选择select-->
    <select id="queryCompanyIdByUserId" parameterType="int" resultType="Integer">
        SELECT companyId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{param}
        limit 0,1
    </select>

    <!--查询客户的消费记录-->
    <select id="queryCustomerConsumeRecordByCustomerId" parameterType="map" resultMap="CustomerApiConsume_Map">
        SELECT
        aa.apiTypeId,
        aa.stid mobileOperatorId,
        aa.totleAmount,
        aa.feeAmount,
        bb.name mobileOperatorName,
        cc.name apiTypeName
        FROM
        (
            SELECT b.apiTypeId,b.stid,sum(a.amount) totleAmount,count(a.id) feeAmount
            FROM qycauth.cbkvwCustomerBalanceLog a
            LEFT JOIN qycauth.cbkvwCustomerRequestLog b ON a.reqId=b.requestId
            WHERE a.reasonId IN(-1,-2,-3)
            AND b.hasCost=1
            <if test="customerIdList != null and customerIdList.size() > 0">
                AND a.customerId IN
                <foreach collection="customerIdList" item="customerId" open="(" close=")" separator=",">
                    #{customerId}
                </foreach>
            </if>
            <if test="beginDate != null and beginDate != ''">
                <![CDATA[
                    AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                    AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
                 ]]>
            </if>
            GROUP BY b.apiTypeId,b.stid
        ) aa
          LEFT JOIN qyfinance.bkvwMobileOperator bb ON aa.stid = bb.id
          LEFT JOIN qyfinance.bkvwApiType cc ON aa.apiTypeId=cc.id
    </select>

    <!--根据账号Id查找Ip用于账号信息页面显示Ip-->
    <select id="queryCustomerIpById" parameterType="int" resultType="org.qydata.entity.CustomerIp">
        SELECT id,customerId,beginIpRaw,endIpRaw
        FROM qycauth.cbkvwCustomerIp
        WHERE customerId=#{param}
    </select>

    <!--根据userId查找客户账号Id用于财务账单取customerId-->
    <select id="findCustomerIdByUserId" parameterType="int" resultMap="Customer_Map">
        SELECT id,typeId,authId,balance,companyId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{param} AND typeId=1
    </select>

    <!--根据条件查询客户apiType按天消费情况-->
    <select id="queryCustomerApiTypeConsumeDayCount" parameterType="map" resultMap="CompanyApiTypeConsumeDayCount_Map">
        SELECT id,
        year,
        month,
        day,
        customerId,
        apiTypeId,
        stid,
        ifnull(sumAmount,0) sumAmount,
        ifnull(countTotle,0) countTotle,
        ifnull(countSuccess,0) countSuccess,
        consuTime
        FROM qycauth.cbkvwCompanyApiTypeConsumeDayCount
       <where>
           <if test="customerIdList != null and customerIdList.size() > 0">
               AND customerId IN
               <foreach collection="customerIdList" item="customerId" open="(" close=")" separator=",">
                   #{customerId}
               </foreach>
           </if>
           <if test="beginDate != null and beginDate != ''">
               <![CDATA[
                AND consuTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
           </if>
           <if test="endDate != null and endDate != ''">
               <![CDATA[
                AND consuTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
           </if>
           <if test="apiTypeId != null and apiTypeId != ''">
               AND apiTypeId=#{apiTypeId}
           </if>
           <if test="stid != null and stid != ''">
               AND stid=#{stid}
           </if>
       </where>
    </select>

    <!--根据userId查找客户Id对应的公司名称用于title-->
    <select id="findCompanyNameByUserId" resultType="String">
        SELECT  DISTINCT(companyName)
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{userId}
    </select>

    <!--根据customerId查询上月消费账单-->
    <select id="queryCustomerConsumeExcelByCustomerId" parameterType="map" resultType="org.qydata.entity.CustomerConsumeExcel">
        SELECT customerId,excelCode,consuTime
        FROM qycauth.CustomerConsumeExcel
        WHERE customerId=#{customerId} AND consuTime=#{consuTime}
    </select>

    <!--根据customerId查找公司名称用于下载账单给文件命名-->
    <select id="queryCompanyNameByCustomerId" parameterType="map" resultType="String">
        SELECT companyName
        FROM qycauth.cbkvwCustomer
        WHERE id = #{customerId}
    </select>

    <!--根据customerId查询消费账单用于用户选择下载的文件-->
    <select id="queryCustomerConsumeExcelConsuTimeByCustomerId" parameterType="int" resultType="org.qydata.entity.CustomerConsumeExcel">
        SELECT customerId,consuTime,year,month
        FROM qycauth.CustomerConsumeExcel
        WHERE customerId=#{param}
        ORDER BY consuTime DESC
        limit 0,6
    </select>

    <!--根据客户apiType用于财务页面产品类型选择select-->
    <select id="queryCompanyApiTypeByCompanyId" parameterType="int" resultMap="CompanyApi_ApiType_MobileOperator_Map">
        SELECT id,companyId,apiTypeId,subTypeId,apiTypeName,subTypeName
        FROM qycauth.cbkvwCompanyApi
        WHERE companyId = #{param}
    </select>

</mapper>