<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerMapper">

    <resultMap id="Customer_Map" type="org.qydata.entity.Customer">
        <result column="id" property="id"/>
        <result column="typeId" property="typeId"/>
        <result column="authId" property="authId"/>
        <result column="authPass" property="authPass"/>
        <result column="balance" property="balance"/>
        <result column="createTime" property="createTime"/>
        <result column="status" property="status"/>
        <result column="companyId" property="companyId"/>
    </resultMap>

    <resultMap id="Customer_Type_Map" type="org.qydata.entity.Customer" extends="Customer_Map">
        <association property="customerType" javaType="org.qydata.entity.CustomerType">
            <result column="typeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Map">
        <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
            <result column="statusName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Map">
        <association property="customerCompany" javaType="org.qydata.entity.CustomerCompany">
            <result column="companyName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_User_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Company_Map">
        <association property="user" javaType="org.qydata.entity.User">
            <result column="userId" property="id"/>
        </association>
    </resultMap>


    <!--根据账号Id查找账号-->
    <select id="queryCustomerByAuthId" parameterType="map" resultMap="Customer_Type_Status_Company_User_Map">
        SELECT id,typeId,typeName,authId,authPass,balance,createTime,status,statusName,companyId,
        companyName,userId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{userId}
    </select>

    <!--根据authId查找客户信息-->
    <select id="findCustomerByAuthId" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param}
    </select>

    <!--根据用户名和密码查找账号-->
    <select id="findCustomerByAuthIdAndAuthPass" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param1} AND authPass=#{param2}
    </select>

    <!--添加账号和用户映射-->
    <insert id="addUserCustomer" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qycauth.UserCustomer(userId,customerId,createTime)
        VALUES(#{userId},#{customerId},sysdate())
    </insert>

    <!--根据用户Id查找公司Id-->
    <select id="queryCompanyIdByUserId" parameterType="int" resultType="Integer">
        SELECT companyId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{param}
        limit 0,1
    </select>

</mapper>