<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.CustomerMapper">

    <resultMap id="Customer_Map" type="org.qydata.entity.Customer">
        <result column="id" property="id"/>
        <result column="typeId" property="typeId"/>
        <result column="authId" property="authId"/>
        <result column="authPass" property="authPass"/>
        <result column="balance" property="balance"/>
        <result column="createTime" property="createTime"/>
        <result column="status" property="status"/>
        <result column="companyId" property="companyId"/>
    </resultMap>

    <resultMap id="Customer_Type_Map" type="org.qydata.entity.Customer" extends="Customer_Map">
        <association property="customerType" javaType="org.qydata.entity.CustomerType">
            <result column="typeName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Map">
        <association property="customerStatus" javaType="org.qydata.entity.CustomerStatus">
            <result column="statusName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Map">
        <association property="customerCompany" javaType="org.qydata.entity.CustomerCompany">
            <result column="companyName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="Customer_Type_Status_Company_User_Map" type="org.qydata.entity.Customer" extends="Customer_Type_Status_Company_Map">
        <association property="user" javaType="org.qydata.entity.User">
            <result column="userId" property="id"/>
        </association>
    </resultMap>

    <resultMap id="CustomerBalanceLog_Map" type="org.qydata.entity.CustomerBalanceLog">
        <result column="id" property="id"/>
        <result column="reasonId" property="reasonId"/>
        <result column="customerId" property="customerId"/>
        <result column="amount" property="amount"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <resultMap id="CustomerBalanceLog_CustomerBalanceModifyReason_Map" type="org.qydata.entity.CustomerBalanceLog" extends="CustomerBalanceLog_Map">
        <association property="customerBalanceModifyReason" javaType="org.qydata.entity.CustomerBalanceModifyReason">
            <result column="reasonName" property="name"/>
        </association>
    </resultMap>

    <resultMap id="CustomerApiConsume_Map" type="org.qydata.dst.CustomerApiConsume">
        <result column="apiTypeId" property="apiTypeId"/>
        <result column="totleAmount" property="totleAmount"/>
        <result column="mobileOperatorId" property="mobileOperatorId"/>
        <result column="apiTypeName" property="apiTypeName"/>
        <result column="mobileOperatorName" property="mobileOperatorName"/>
    </resultMap>

    <!--根据用户Id查找账号-->
    <select id="queryCustomerByAuthId" parameterType="map" resultMap="Customer_Type_Status_Company_User_Map">
        SELECT id,typeId,typeName,authId,authPass,balance,createTime,status,statusName,companyId,
        companyName,userId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{userId}
        <if test="content!=null and content!=''">
            and authId like '%${content}%'
        </if>
    </select>

    <!--根据authId查找客户信息-->
    <select id="findCustomerByAuthId" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param}
    </select>

    <!--根据用户名和密码查找账号-->
    <select id="findCustomerByAuthIdAndAuthPass" parameterType="String" resultMap="Customer_Map">
        SELECT id,typeId,authId,authPass,balance,createTime,status,companyId
        FROM qycauth.cbkvwCustomer
        WHERE authId=#{param1} AND authPass=#{param2}
    </select>

    <!--添加账号和用户映射-->
    <insert id="addUserCustomer" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qycauth.UserCustomer(userId,customerId,createTime)
        VALUES(#{userId},#{customerId},sysdate())
    </insert>

    <!--根据用户Id查找公司Id-->
    <select id="queryCompanyIdByUserId" parameterType="int" resultType="Integer">
        SELECT companyId
        FROM qycauth.cbkvwCustomer
        WHERE userId=#{param}
        limit 0,1
    </select>

    <!--查询客户的充值记录-->
    <select id="queryCustomerRechargeRecordByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT id,reasonId,amount,customerId,createTime,reasonName
        FROM qycauth.cbkvwCustomerBalanceLog
        WHERE customerId=#{customerId}
        AND reasonId IN
        <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
            #{reasonId}
        </foreach>
        <if test="beginDate != null and beginDate != ''">
            <![CDATA[
            AND createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[
            AND createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
        </if>
    </select>

    <!--查询客户的消费记录-->
    <select id="queryCustomerConsumeRecordByCustomerId" parameterType="map" resultMap="CustomerApiConsume_Map">
        SELECT cc.apiTypeId,cc.totleAmount,cc.mobileOperatorId,dd.name apiTypeName,ee.name mobileOperatorName
        FROM
        (
        SELECT aa.apiTypeId,sum(aa.totleAmount) totleAmount,bb.mobileOperatorId
        FROM
            (
            SELECT b.apiTypeId,b.apiId,sum(a.amount) totleAmount
            FROM qycauth.cbkvwCustomerBalanceLog a LEFT JOIN qycauth.cbkvwCustomerRequestLog b ON a.reqId=b.id
            WHERE a.reasonId IN(-1,-2) AND b.hasCost=1 AND a.customerId=#{customerId}
            GROUP BY b.apiTypeId,b.apiId
            ) aa LEFT JOIN qycauth.cbkvwApiMobileOperator bb ON aa.apiId = bb.apiId
        GROUP BY aa.apiTypeId,bb.mobileOperatorId
        ) cc LEFT JOIN qyfinance.bkvwApiType dd ON cc.apiTypeId=dd.id LEFT JOIN qyfinance.bkvwMobileOperator ee
        ON cc.mobileOperatorId=ee.id
    </select>

    <!---查询客户的消费明细记录-->
    <select id="queryCustomerConsumeDetailRecordByCustomerId" parameterType="map" resultMap="CustomerBalanceLog_CustomerBalanceModifyReason_Map">
        SELECT a.id,a.reasonId,a.amount,a.customerId,a.createTime,a.reasonName
        FROM qycauth.cbkvwCustomerBalanceLog a LEFT JOIN qycauth.cbkvwCustomerRequestLog b ON a.reqId=b.id
        WHERE b.hasCost=1 AND a.customerId=#{customerId} AND b.apiTypeId=#{apiTypeId}
        AND a.reasonId IN
        <foreach collection="reasonIdList" item="reasonId" index="index" open="(" close=")" separator=",">
            #{reasonId}
        </foreach>
        <where>
            <if test="beginDate != null and beginDate != ''">
                <![CDATA[
            AND a.createTime>=str_to_date(#{beginDate},'%Y/%m/%d %H:%i:%s')
            ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
            AND a.createTime<=str_to_date(#{endDate},'%Y/%m/%d %H:%i:%s')
             ]]>
            </if>
        </where>
    </select>

    <!--查询客户的周月记录-->
    <select id="queryCustomerWeekMonthRecordByCustomerId" parameterType="map" resultType="org.qydata.entity.WeekMonthAmount">
        SELECT years,months,weeks,totleAmount,customerId,tableId,weekMonthTypeId,name,beginTime,endTime
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId}
        AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录年级联菜单-->
    <select id="queryCustomerYearsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(years)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId} AND weekMonthTypeId=#{weekMonthTypeId}
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="months != null and months != ''">
            AND months=#{months}
        </if>
        <if test="weeks != null and weeks != ''">
            AND weeks=#{weeks}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--查询客户的周月记录月级联菜单-->
    <select id="queryCustomerMonthsByCustomerId" parameterType="map" resultType="int">
        SELECT DISTINCT(months)
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{customerId}
        <if test="weekMonthTypeId != null and weekMonthTypeId != ''">
            AND weekMonthTypeId=#{weekMonthTypeId}
        </if>
        <if test="years != null and years != ''">
            AND years=#{years}
        </if>
        <if test="tableIdList != null and tableIdList.size() > 0">
            AND tableId IN
            <foreach collection="tableIdList" item="tableId" index="index" open="(" close=")" separator=",">
                #{tableId}
            </foreach>
        </if>
    </select>

    <!--月账单走势图-->
    <select id="queryMonthChargeConsumeToward" parameterType="Integer" resultType="org.qydata.entity.WeekMonthAmount">
        SELECT years,months,totleAmount
        FROM qyfinance.bkvwWeekMonthAmount
        WHERE customerId=#{param1}
        AND weekMonthTypeId=2
        AND tableId=#{param2}
        AND DATE_FORMAT(endTime,'%Y-%m')=DATE_FORMAT(date_sub(sysdate(),interval #{param3} month),'%Y-%m')
    </select>

</mapper>